<div class="container">
  <h2>Reset Password</h2>
  <form *ngIf="isRequestingReset" (ngSubmit)="onSubmitRequest()">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Request Password Reset</button>
  </form>
  <form *ngIf="!isRequestingReset" (ngSubmit)="onSubmit()">
    <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" required>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required>
    <button type="submit">Reset Password</button>
  </form>
  <p *ngIf="message">{{ message }}</p>
</div>

  