<div id="pop-items" class="pop-items">
    <h3 class="pop-title">Items</h3>
  <!-- <app-tags></app-tags> -->
    <div class="items">
      <ul class="items  item-grid">
        <li *ngFor="let food of foods" class="item">
          <!-- <a routerLink="/food/{{ food.id }}" class="link"> -->
            <a [routerLink]="['/food', food?._id]" class="link">
              <img [src]="getImageUrl(food.imageUrl)" [alt]="food.name" class="item-img" />
            </a>
            <div class="content">
                <div class="item-tnp">
                  <div class="name">
                    <a [routerLink]="['/food', food?._id]" class="link pop-sm-title">{{ food.name }}</a>
                  </div>
                  <div class="price">
                    <span class="price">
                      {{food.price | currency:'INR'}}
                    </span>
                  </div>
                </div>
                <div class="item-btn">
                    <!-- Heart ❤ Icon -->
                    <!-- <i class="fa-solid fa-heart"></i> -->
                  
                  <span 
                    (click)="toggleFavorite(food)" 
                    class="favorite" 
                    [class.not]="!food.favorite">❤
                  </span>
                  <button (click)="addToCart(food)" class="cart-btn">🛒
                    <!-- Cart Icon -->
                    <!-- <i class="fa-solid fa-cart-shopping"></i> -->
                  </button>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </div>