.admin-dashboard {
  padding: 20px;
  margin-left: 260px;
  font-family: 'Dancing Script';
  font-size: 16px;
  text-decoration: none;
  color: #b08f5c;
}

.info{
  font-size: 16px;
  font-family: 'Archivo';
  color: #b08f5c;
  margin-bottom: 1%;
  margin: 10px 0;
}